# Goal: gauge ingagement between tradition and digital art on twitter

In [1]:
import requests
import pandas as pd
import json
import urllib
import matplotlib
from PIL import Image
import io

### Linking to the Twitter API

In [2]:
bearer_token = pd.read_csv("twitterApp.txt", header = 0)

In [3]:
token = bearer_token['Bearer Token'].iloc[0]

In [4]:
header = {'Authorization' : 'Bearer {}'.format(token)}

In [5]:
endpoint_url = 'https://api.twitter.com/2/tweets/search/recent'

    Query to display posts using the hashtags of digital and traditional art to create queries and 2 data sets
    By splitting the hashtags I can rate the engage ment in each catagory and compare it

In [6]:
query = urllib.parse.quote('(#digitalart OR #digital #art) -is:retweet')
query2 = urllib.parse.quote('(#traditionalart OR #traditional #art) -is:retweet')

In [7]:
tweet_fields = 'author_id,id,text,public_metrics,created_at,entities'

In [8]:
url = endpoint_url + '?query={}&tweet.fields={}&user.fields={}&media.fields={}&max_results=100'.format(query,tweet_fields,"username","preview_image_url")
url2 = endpoint_url + '?query={}&tweet.fields={}&user.fields={}&max_results=100'.format(query2,tweet_fields,"username")

In [9]:
q1_response_1 = requests.request("GET", url, headers=header, stream = True)
q2_response_1 = requests.request("GET", url2, headers=header)

In [10]:
q1_response_1_dict = json.loads(q1_response_1.text)
q2_response_1_dict = json.loads(q2_response_1.text)

### Getting images

testing the image gathering
ref: https://github.com/dataesilva/22110-FA21/blob/main/Class-Examples/Twitter-Images-Example.ipynb

img_url = q1_response_1_dict['data'][0]['entities']['urls'][0]['images'][0]['url']

_This line only works somtimes. Im not sure why it works and doesnt work other times even through all the posts have images. For some reason image_url isnt being added every time i run the full program_
##### test image for adding to dataframe
https://pbs.twimg.com/news_img/1467195039302529028/5b6iNygv?format=jpg&name=orig

twt_response = requests.get(img_url, stream = True)

twt_response

twt_image = Image.open(io.BytesIO(twt_response.content))

twt_image

### Creating the first page for 2 Dataframes

In [11]:
q1_page1 = pd.DataFrame(q1_response_1_dict['data'])
q2_page1 = pd.DataFrame(q2_response_1_dict['data'])

In [12]:
q1_metrics1 = pd.DataFrame(list(q1_page1['public_metrics']))
q2_metrics1 = pd.DataFrame(list(q2_page1['public_metrics']))

### Combining the two dataframes into 1, The metrics with the data for the 2 seperate dataframes

In [13]:
q1_page1['likes'] = q1_metrics1['like_count']
q1_page1['retweets'] = q1_metrics1['retweet_count']
q1_page1['comments'] = q1_metrics1['reply_count']

q2_page1['likes'] = q2_metrics1['like_count']
q2_page1['retweets'] = q2_metrics1['retweet_count']
q2_page1['comments'] = q2_metrics1['reply_count']

del q1_page1['public_metrics']
del q2_page1['public_metrics']

In [23]:
q1_page1['entities'][0]

0     {'hashtags': [{'start': 48, 'end': 53, 'tag': ...
1     {'hashtags': [{'start': 58, 'end': 63, 'tag': ...
2     {'hashtags': [{'start': 21, 'end': 29, 'tag': ...
3     {'hashtags': [{'start': 27, 'end': 38, 'tag': ...
4     {'hashtags': [{'start': 65, 'end': 79, 'tag': ...
                            ...
95    {'hashtags': [{'start': 73, 'end': 84, 'tag': ...
96    {'hashtags': [{'start': 56, 'end': 61, 'tag': ...
97    {'hashtags': [{'start': 32, 'end': 46, 'tag': ...
98    {'hashtags': [{'start': 39, 'end': 50, 'tag': ...
99    {'hashtags': [{'start': 148, 'end': 152, 'tag'...
Name: entities, Length: 100, dtype: object

In [15]:
q1_page1.head()

,entities,created_at,id,text,author_id,likes,retweets,comments
0,"{'hashtags': [{'start': 48, 'end': 53, 'tag': ...",2021-12-06T02:47:52.000Z,1467687203148943366,BAO Boated Apien #4.009\nhttps://t.co/6ZXns5E8...,1313506247111393280,0,0,0
1,"{'hashtags': [{'start': 58, 'end': 63, 'tag': ...",2021-12-06T02:47:33.000Z,1467687126678392832,ToonGuysNFT project coming soon hopefully on \...,1464878865289867269,0,0,0
2,"{'hashtags': [{'start': 21, 'end': 29, 'tag': ...",2021-12-06T02:47:21.000Z,1467687073901694979,Hatsune Miku day 92\n\n#miku100 #VOCALOID #Hat...,1433496302889938945,0,0,0
3,"{'hashtags': [{'start': 27, 'end': 38, 'tag': ...",2021-12-06T02:47:18.000Z,1467687062094565380,Dibujos de hace tiempo 😋🙌\n\n#digitalart #art ...,1461770386622885893,0,0,0
4,"{'hashtags': [{'start': 65, 'end': 79, 'tag': ...",2021-12-06T02:47:08.000Z,1467687020835135489,What is your favourite madness combat characte...,1467674645495177217,0,0,0

In [16]:
q2_page1.head()

,author_id,entities,text,created_at,id,likes,retweets,comments
0,1273055266083405824,"{'urls': [{'start': 197, 'end': 220, 'url': 'h...",I’m not gonna lie I feel ridiculously proud of...,2021-12-06T02:39:44.000Z,1467685158685974533,7,1,1
1,1433794310374297600,"{'urls': [{'start': 82, 'end': 105, 'url': 'ht...","Yes, I made this.\n\n#NickWilde #Zootopia #Fre...",2021-12-06T02:35:58.000Z,1467684208260886528,0,0,0
2,1454430612446720001,"{'annotations': [{'start': 3, 'end': 11, 'prob...",My Instagram :\n\nhttps://t.co/ADtF6XXh9B\n\n#...,2021-12-06T02:35:18.000Z,1467684042946531338,1,0,0
3,2794916154,"{'annotations': [{'start': 9, 'end': 20, 'prob...",📷 Happy St. Nicholas Day🍭🍬👢 . . . . . . . . #i...,2021-12-06T02:34:00.000Z,1467683714977214465,1,0,0
4,1463297916546789381,"{'annotations': [{'start': 25, 'end': 29, 'pro...","My fallen angel husband, Fliah, in all his glo...",2021-12-06T02:16:57.000Z,1467679423147216901,0,0,0

### Creating page 2-4

I created a function to make this process less messy. This function takes an input of a dictionary, and uses that data to create a new "page" of datapoints. This way I can quickly collect 400 points from each query.

In [17]:
def next_page(dictionary):
    next_pg = pd.DataFrame(dictionary['data'])
    next_metric = pd.DataFrame(list(next_pg['public_metrics']))
    ##combining the dataframes
    next_pg['likes'] = next_metric['like_count']
    next_pg['retweets'] = next_metric['retweet_count']
    next_pg['comments'] = next_metric['reply_count']
    del next_pg['public_metrics']
    
    return next_pg

In [18]:
q1_token2 = url +'&next_token={}'.format(q1_response_1_dict['meta']['next_token'])
q1_response_2 = requests.request("GET",url = q1_token2, headers=header)
q1_response_2_dict = json.loads(q1_response_2.text)

In [19]:
q1_page2 = next_page(q1_response_2_dict)

In [20]:
q1_token3 = url +'&next_token={}'.format(q1_response_2_dict['meta']['next_token'])
q1_response_3 = requests.request("GET",url = q1_token3, headers=header)
q1_response_3_dict = json.loads(q1_response_3.text)

q1_page3 = next_page(q1_response_3_dict)

In [21]:
q1_page2.head()

,id,entities,author_id,text,created_at,likes,retweets,comments
0,1467684090463854604,"{'urls': [{'start': 61, 'end': 84, 'url': 'htt...",3424356447,@stickytoffita ➕Add a DigiGOAT🐐 to your NFT Co...,2021-12-06T02:35:30.000Z,0,0,0
1,1467684074600947715,"{'urls': [{'start': 57, 'end': 80, 'url': 'htt...",776724971502444544,.spaceface by lucian_shye_music #DigitalArt #d...,2021-12-06T02:35:26.000Z,0,0,0
2,1467684016103227393,"{'annotations': [{'start': 46, 'end': 54, 'pro...",1083647971101618176,"Pickup artwork ""3D truchet - Bonus Stage"" by ""...",2021-12-06T02:35:12.000Z,3,0,0
3,1467683924524650496,"{'urls': [{'start': 192, 'end': 215, 'url': 'h...",1466857568802848772,"Guys, what do you think of this style of art i...",2021-12-06T02:34:50.000Z,1,0,0
4,1467683907327991810,"{'urls': [{'start': 279, 'end': 302, 'url': 'h...",2939905909,#texassunset #womenartisttx #womenartists #dig...,2021-12-06T02:34:46.000Z,0,0,0

In [22]:
q1_page3.head()

,author_id,entities,text,created_at,id,likes,retweets,comments
0,1273707843095531521,"{'urls': [{'start': 42, 'end': 65, 'url': 'htt...",👑👑👑👑👑\n#rickross\n#digitalart #art #artwork ht...,2021-12-06T02:24:23.000Z,1467681294360489984,0,0,0
1,1356112338215174146,"{'urls': [{'start': 112, 'end': 135, 'url': 'h...",#NewProfilePic #bakudeku #mha #bkdk #anime #MH...,2021-12-06T02:24:10.000Z,1467681238248996869,1,0,0
2,1466834151231815680,"{'urls': [{'start': 278, 'end': 301, 'url': 'h...",The Diamond Ether Lion! The most supreme of al...,2021-12-06T02:23:56.000Z,1467681180648574982,1,0,0
3,1196527572672225280,"{'urls': [{'start': 136, 'end': 159, 'url': 'h...",new subscription\n#desenhodigital #drawing #dr...,2021-12-06T02:23:45.000Z,1467681134515478533,0,0,0
4,196639261,"{'mentions': [{'start': 175, 'end': 182, 'user...",Some Gifts from a advent-calendar I made for m...,2021-12-06T02:23:42.000Z,1467681122398134274,0,0,0

### Next I plan to focus on the overall response between the two types of art. I will do this by creating charts depicting the retweets, likes, and comments to see which posts were more active.